@import "themes.scss";

// Import Bootstrap styles
@import "bootstrap/scss/bootstrap";

// $font-stack: "Playfair Display", sans-serif;
$font-stack: "Playfair Display";

body {
  font-family: $font-stack;

  background-color: var(--background-color);
  color: var(--text-color);

  h1 {
    font-size: 55px;
    font-weight: 600;
    color: var(--h1-color);
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    font-size: 18px;
  }

  span.highlight {
    color: var(--span-highlight-color);
  }
}
